# Question 1
<pre>
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True
</pre>

In [1]:
def is_symmetrical(n):
    num_lst = []
    num1 = n
    while n:
        rem = n%10
        num_lst.append(rem)
        n = n//10
    
    l = len(num_lst)
    num2 = 0
    for i in range(l):
        num2 += num_lst[i] * 10**(l-i-1)
    
    if num1 == num2:
        return True
    return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12567)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(9939)

False

In [6]:
is_symmetrical(1112111)

True

# Question 2
<pre>
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20
</pre>

In [7]:
def multiply_nums(s):
    from functools import reduce
    nums = (int(n) for n in s.split(", "))
    return reduce(lambda x,y: x*y, nums)

In [8]:
multiply_nums("2, 3")

6

In [9]:
multiply_nums("1, 2, 3, 4")

24

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("10, -2")

-20

# Question 3
<pre>
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414
Notes
The function receives an integer and must return an integer.
</pre>

In [12]:
def square_digits(n):
    squared_digits = []
    while n:
        rem = n%10
        squared_digits.append(rem**2)
        n = n//10
    
    digits = []
    for d in squared_digits:
        while d:
            rem = d%10
            digits.append(rem)
            d = d//10
    
    l = len(digits)
    num = 0
    for i in range(l):
        num += digits[i] * 10**(i)
    
    return num

In [13]:
square_digits(9119)

811181

In [14]:
square_digits(2483)

416649

In [15]:
square_digits(3212)

9414

# Question 4
<pre>
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]
</pre>

In [16]:
def setify(lst): # Bubble sort
    cache = []
    while True:
        flag = 0
        for i in range(1, len(lst)):
            if lst[i-1] > lst[i]:
                lst[i], lst[i-1] = lst[i-1], lst[i]
                flag += 1
            
        if not flag:
            break
    # Remove duplicates
    for ele in lst:
        if ele in cache:
            continue
        cache.append(ele)
    
    return cache

In [17]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [18]:
setify([4, 4, 4, 4])

[4]

In [19]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [20]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

# Question 5
<pre>
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6
Notes
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).
 The mean will always be an integer.
</pre>

In [21]:
def mean(n):
    count = 0
    total = 0
    while n:
        rem = n%10
        total += rem
        count += 1
        n = n//10
    
    return int(total/count)

In [22]:
mean(42)

3

In [23]:
mean(12345)

3

In [24]:
mean(666)

6